@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 8em;
  z-index: 1;
  color: #fff;
}

h2 {
  color: #fff;
  margin: 0;
  font-size: 3em;
}

h3 {
  margin: 0 0 2em;
  color: #494949;
  font-style: italic;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  column-count: 2;
  margin-top: 2em;
}

ul li {
  margin: 0 0 5px;
}

strong {
  color: #494949;
}
button {
  padding: 10px;
  background: none;
  border: none;
  margin: 0;
  margin-bottom: -3px;
  z-index: 1;
  cursor: pointer;
}

img {
  width: 400px;
  height: 400px;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 15px;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 5%;
  z-index: 2;
}

.section .home-prod {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
}

#about {
  background: #d3e6d3;
  margin: 0 auto;
  animation: fadeIn 1.5s;
}

#about div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about img {
  width: 480px;
  height: initial;
  position: absolute;
  display: flex;
  margin: 0 auto;
  opacity: 0.6;
}

#about #scroll {
  border: 0.5px solid #6ea86e;
  width: 0;
  height: 20vh;
  position: absolute;
  bottom: 0;
}

#about #scroll:before {
  content: 'Scroll';
  top: -25px;
  position: absolute;
  color: #000;
}

.bg {
  width: 500px;
  height: 500px;
  position: fixed;
  display: flex;
  background: #d3e6d3;
  border-radius: 10px;
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  border-width: 0 !important;
}

.fp-controlArrow.fp-prev::before,
.fp-controlArrow.fp-next::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100px;
  border-bottom: 1px solid #6ea86e;
  position: absolute;
}

.fp-controlArrow.fp-next::before {
  right: 0;
}

.fp-controlArrow.fp-prev::after,
.fp-controlArrow.fp-next::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.fp-controlArrow.fp-prev::after {
  content: 'Prev';
  width: 250px;
}

.fp-controlArrow.fp-next::after {
  content: 'Next';
  right: 115px;
}

.slide .content {
  text-align: center;
  position: absolute;
  width: 16.6667%;
}

.slide .content h1 {
  margin: 0;
  font-size: 5em;
  color: #6ea86e;
}

.slide .content h4 {
  font-size: 3em;
  margin: 0;
}

.prod-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
}

.prod-container img {
  width: 500px;
  height: initial;
}

.prod-container .info {
  width: 20%;
  padding: 2em;
  margin-left: 5em;
  background: #d3e6d3;
}

.prod-container h1 {
  margin-bottom: 0;
  color: #6ea86e;
  width: 220%;
  font-size: 7.5em;
  text-align: left;
}

.prod-container .info .cart-action {
  display: flex;
  justify-content: space-between;
}

.modal-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 2em 5em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    0 -18px 60px -10px rgba(0, 0, 0, 0.025);
  max-width: 500px;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-content img {
  width: 150px;
  height: initial;
  margin-right: 2em;
}

.modal-content .button-wrapper {
  width: 100%;
  display: flex;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}

.modal-content .button-wrapper button,
.modal-content .button-wrapper a {
  font-size: 14px;
  padding: 1em 2em;
  margin: 0;
  border: #6ea86e 2px solid;
  color: #6ea86e;
  font-weight: 700;
  font-family: 'Ubuntu';
  margin: 0 1em;
}

.modal-content .button-wrapper a {
  color: #fff;
  background: #6ea86e;
}
