html,
body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 8em;
  z-index: 1;
  color: #6ea86e;
}

a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

img {
  width: 400px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 15px;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 5%;
  z-index: 2;
}

.section div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

.bg {
  position: fixed;
  bottom: 0;
  height: 15%;
  background: #d3e6d3;
  width: 100%;
  border-radius: 50px 50px 0 0;
}

#about {
  background: #d3e6d3;
  margin: 0 auto;
}

#about h1 {
  color: #fff;
}

#about div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about img {
  width: 480px;
  position: absolute;
  display: flex;
  margin: 0 auto;
  opacity: 0.5;
}

#about .scroll {
  border: 0.5px solid #6ea86e;
  width: 0;
  height: 170px;
  position: absolute;
  bottom: 0;
}

#about .scroll:before {
  content: 'Scroll';
  top: -25px;
  position: absolute;
  color: #000;
}

.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  border-width: 0 !important;
}

.fp-controlArrow.fp-prev::before,
.fp-controlArrow.fp-next::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100px;
  border-bottom: 1px solid #6ea86e;
  position: absolute;
}

.fp-controlArrow.fp-next::before {
  right: 0;
}

.fp-controlArrow.fp-prev::after,
.fp-controlArrow.fp-next::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.fp-controlArrow.fp-prev::after {
  content: 'Prev';
  width: 250px;
}

.fp-controlArrow.fp-next::after {
  content: 'Next';
  right: 115px;
}
